/*https://coolors.co/cfdbd5-dce4da-e8eddf-b7bbb0-868981-242423-333533*/

#sectionAboutMe {
    min-height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    display: flexbox;
    padding-top: 8vh;
    overflow: hidden;
    padding-bottom: 5%;
}

#titulo {
    text-align: center;
    font-size: 60px;
    cursor: default;
}

#avatar {
    width: 15%;
    height: 15%;
    border-radius: 100%;
}

#minhasInformacoes {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-left: -5%;
    padding-left: 10%;
    background-color: #CFDBD5;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5%;
    padding-top: 5%;
}

.aboutMe_caracteristicas {
    font-size: 20px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #CFDBD5;
    cursor: default;
    padding-left: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

h2 {
    font-size: 30px;
    color: #242423;
}

h7 {
    font-size: 25px;
    color: #333533;
}

h3 {
    size: 10px;
    color: #242423;
}

ul {
    margin-left: 4%;
    color: #333533;
}

@media only screen and (min-height:1080px) and (min-width:720px) {
    #sectionAboutMe {
        padding-top: 5vh;
    }
    #avatar {
        width: 25%;
        height: 25%;
    }
    .aboutMe_caracteristicas {
        font-size: 50px;
    }
    ul {
        margin-left: 10%;
    }
}
