#sectionAboutMe {
    min-height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    display: flexbox;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

#titulo {
    text-align: center;
    font-size: 60px;
    cursor: default;
}

#avatar {
    width: 25%;
    height: 25%;
    margin-left: 30%;
    margin-right: 25%;
    border-radius: 100%;
}

#minhasInformacoes {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(111, 111, 111);
    margin-right: 5%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-bottom: 5%;
    padding-top: 5%;
}

.aboutMe_caracteristicas {
    font-size: 20px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: rgb(169, 167, 167);
    cursor: default;
    padding-left: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

h3 {
    size: 10px;
}

ul {
    margin-left: 4%;
}

@media only screen and (min-height:1080px) and (min-width:720px) {
    #avatar {
        width: 25%;
        height: 25%;
    }
    .aboutMe_caracteristicas {
        font-size: 50px;
    }
    ul {
        margin-left: 10%;
    }
}