* {
    padding: 0;
    margin: 0;
}

.headerMain {
    display: flex;
    background-color: #868981;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    transition: all 0.8s;
}

.headerMain #menuIcon {
    width: 8vh;
    height: 8vh;
    cursor: pointer;
    z-index: 3;
}

.headerMain .iconsDiv {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #242423, #868981);
}

.iconsDiv .socialIcon {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    margin-right: 2vh;
    margin-left: 2vh;
}
.iconsDiv .socialIcon:hover {
    width: 6vh;
    height: 6vh;
}


@media only screen and (min-height:1080px) and (min-width:720px) {
    .headerMain {
        height: 5vh;
    }
    .headerMain #menuIcon {
        width: 5vh;
        height: 5vh;
    }
    .iconsDiv .socialIcon {
        width: 3vh;
        height: 3vh;
        margin-right: 1vh;
        margin-left: 1vh;
    }
    .iconsDiv .socialIcon:hover {
        width: 4vh;
        height: 4vh;
    }
}