#titulo {
    color: #333533;
    font-size: 50px;
    padding: 2%;
}

#subtitle {
    color: #242423;
    font-size: 30px;
    text-align: center;  
}

#sectionMeusProjetos {
    background-color: #CFDBD5;
    height: 100%;
    width: 90%;
    display: flexbox;
    overflow: hidden;
    border-radius: 100px;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.projetoDiv {
    display: flexbox;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 2%;
    border: 1px solid black;
}

.titulo_projeto {
    font-size: 30px;
    color: #242423;
    text-decoration: none;
}

.resumo_projeto {
    font-size: 20px;
    color: #333533;
}

.body_projeto {
    margin-top: 2%;
}

.detalhado_projeto {
    color: #242423;
    font-size: 20px;
}

.adicional_projeto {
    color: #242423;
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
}

@media only screen and (min-height:1080px) and (min-width:720px) {
    #titulo {
        font-size: 70px;
        padding: 5%;
    }
    

    .titulo_projeto {
        font-size: 70px;
        color: #242423;
        text-decoration: none;
    }
    
    .resumo_projeto {
        font-size: 40px;
        color: #333533;
    }
    
    .body_projeto {
        margin-top: 5%;
    }
    
    .detalhado_projeto {
        color: #242423;
        font-size: 40px;
    }
    
    .adicional_projeto {
        color: #242423;
        font-size: 40px;
        text-align: center;
        margin-top: 1%;
    }
}